body, html{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.flexbox{
  display: flex;
  justify-content: center;
  align-items: center;
}

.height{
  height: 200px;
}

.column{
  flex-direction: column;
}

.margin{
  margin: 5px;
}

